<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5AK4o9n1HKuKcHC3e2YasYQLPOUBVlY0</string>
	<key>GCM_SENDER_ID</key>
	<string>34111451170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advBasics</string>
	<key>PROJECT_ID</key>
	<string>advbasics-2c56d</string>
	<key>STORAGE_BUCKET</key>
	<string>advbasics-2c56d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34111451170:ios:9f5b082b7feda6726e5a7b</string>
</dict>
</plist>